/* 商品情報 */
.product-information p{
    font-size: 1.4rem;
    color:$original-black;
    text-align: center;
    padding-top: 4px;
  }

/* 商品名 */
  .products-name{
    font-weight: bold;
  }

  /* 値段 */
  .value{
    &::before{
        font-size: 1.4rem;
        margin-right: 2px;
        content: '¥';
    }
    &::after{
        font-size: 1.2rem;
        margin-left: 4px;
        content: '税込';
    }
  }
