/* common */
body{
    margin: 0;
    font-family: var(--Gothic-font);
}

:root{
    --Mincho-font:"游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "MS Ｐ明朝", "MS PMincho", serif;
    --Gothic-font:"游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  }

h1,
h2,
h3{
    margin: 0;
    font-weight: normal;
}

.tytle h2{
    font-size: 24px;
    letter-spacing: 4px;
    font-family: var(--Mincho-font);
    text-align: center;
  }

  .tytle p{
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 4px;
    font-family: var(--Mincho-font);
    text-align: center;
  }

.tytle h2::first-letter{
    font-size: 28px;
}

p{
    margin: 0;
}

img{
    vertical-align: bottom;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container{
    margin: 0 40px;
}

/* ボタン */
.btn{
  display: flex;
  height:40px;
  background: darkgreen;
  color: white;
  line-height: 40px;  
  transition: opacity .3s;
}
.btn p{
  flex: 1;
  margin-left: 16px;
  text-align: center;
}
.btn i{
  margin: 0 8px 0 auto;
}
.btn:hover{
  opacity: .7;
}



/* ハンバーガーメニュー */

.overlay{
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background:rgba(255,255,255,0.95) ;
  text-align: center;
  padding: 64px;
  opacity: 0; /*デフォルトでメニュー画面非表示*/
  transition: opacity .6s;
  pointer-events: none; 
}

/* 開くボタンが押された時にメニューにつけるクラス*/
.overlay.show{
  opacity: 1; /* メニュー画面を表示 */
  pointer-events: auto; 
}

/* 閉じるボタン */
.overlay #close{
  position: absolute;
  top: 16px;
  right: 32px;
  cursor: pointer;
  transition: color .3s;
}

.overlay #close:hover{
  color: darkgray;
}

.overlay #close span{
  font-size: 32px;
}
.overlay #close p{
  font-size: 14px;
}

.overlay h2{
  letter-spacing: 4px;
  padding: 24px 0 32px;
}

.overlay li{
  font-size: 18px;
  color: #333;
  letter-spacing: 1px;
  padding-bottom: 20px;

} 

.overlay h2,
.overlay li{
  opacity: 0; /* デフォルトで非表示 */
  transform: translateY(-32px); /* 少し下にスタンバイ */
  transition: color .3s, opacity 1s, transform 1s;

}

.overlay.show h2,
.overlay.show li{
  opacity: 1; 
  transform: none; /* 元の位置に戻る */
}

.overlay li:hover{
  color: darkgray;
}



/* header */

header{
  box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

header.scrolled{
  background: rgba(255,255,255,.95);
  box-shadow: 0 0 4px rgba(0,0,0,.3);
}

header .head-container{
  display: flex;
  justify-content: space-between;
}

header nav{
  display: flex;
}

header ul{
    display: flex;
    align-items: center;
    gap: 16px;
}


header nav li a,
header nav li div{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color .3s;
    cursor: pointer;
}

header nav li a:hover,
header nav li div:hover{
    color: darkgray;
}

header nav li a i,
header nav li div i{
    font-size: 24px;
}

header nav li a p,
header nav li div p{
    font-size: 12px;
}



/* 検索入力フォーム */

.search-input form{
  display: flex;
  display: none; /* 検索フォームはデフォルトで非表示 */
  margin-right: 4px;
  width: 100%;
}

.search-input form input,
.search-input form button{
  all: unset;
  padding: 8px;
}

.search-input form input{
  border: 1px solid #ababab;
}

.search-input form button{
  width: 24px;
  color: white;
  text-align: center;
  background: black;
  border: 1px solid black;
  cursor: pointer;
  transition: color .3s;
}

.search-input #search:checked ~ form{
  display: block; /* ボタンが押されたとき検索フォームを表示 */
}

.search-input form button:hover{
  color: #888;
}

/* 検索フォーム開くボタン */

.search-input label.open{
  display: flex; 
  flex-direction: column;
  align-items: center; 

  transition: color .3s;
  cursor: pointer;
}

.search-input label.open:hover{
  color: darkgray;
}

.search-input label.open i{
  font-size: 20px;
}
.search-input label.open p{
  font-size: 12px;
}

.search-input #search:checked ~ label.open{
  display: none; /* ボタンが押されたとき開くボタンを非表示 */
}

/* 検索フォーム閉じるボタン */

.search-input label.close{
  width: 64px; 
  height: 20px;
  position: relative;
  cursor: pointer;
  display: none;

}

.search-input label.close span{
  width: 28px;
  height: 2px; /* 線の太さ */
  background: #000;

  position: absolute;
  transition: background .3s;
}

.search-input label.close:hover span{
  background: darkgray;
}

.search-input label.close span:nth-child(1){
  top: 50%;
  transform: rotate(45deg);
}
.search-input label.close span:nth-child(2){
  top: 50%;
  transform: rotate(-45deg);
}

.search-input label.close p{
  font-size: 12px;
  transform: translateY(calc(100% + 8px));
}

.search-input #search:checked ~ label.close{
  display: block; /* ボタンが押されたとき閉じるボタンを表示 */
}



/* top-menu */

.top-menu ul{
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 128px 0 32px;
}

.top-menu li a{
    font-size: 16px;
    font-family: var(--Mincho-font);
    color: #333;
    transition: color .3s;
}

.top-menu li a:hover{
  color:#ccc;
}



/* category */

.wave{
  background: #f9f9f9;
  padding: 32px 0;
  margin-top: 16px;
}


/* ranking */

.ranking{
  padding-top: 128px;
}

.ranking ul{
margin-top: 32px;
display: flex;
flex-wrap: wrap;
gap: 32px;
}

.ranking li{
width: calc((100% - 64px) / 3);
}

.ranking li div{
position: relative;
}

.ranking li img{
width: 100%;
border-radius: 8px;
margin-bottom: 8px;
transition: transform .3s, opacity .3s;
}

.ranking li img:hover{
  transform: scale(1.05);
  opacity: 0.7;
}

.ranking li p{
font-size: 14px;
color: #555;
text-align: center;
padding-top: 4px;
}

.ranking h3{
width: 40px;
height: 40px;
line-height: 40px;
color: white;
text-align: center;
border-radius: 50%;

position: absolute;
top: 0;
left:0;
transform: translate(-30%,-30%);
}

.ranking li:nth-child(1) h3{
    background: darkgoldenrod;
}
.ranking li:nth-child(2) h3{
    background: gray;
}
.ranking li:nth-child(3) h3{
    background: darkred;
}
.ranking li:nth-child(n + 4) h3{
    background: darkgreen;
}


/* new items */

.new-items{
    padding-top: 128px;
}

.new-items ul{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.new-items li div{
    position: relative;
}

.new-items li p{
    padding: 4px 8px;
    font-size: 12px;
    background:white;
    border-radius: 4px;
    text-align: center;

    position: absolute;
    bottom: 8px;
    right: 8px;
}

.new-items li img{
    width: 100%;
    border-radius: 8px;
    transition: transform .3s, opacity .3s;
}

.new-items li img:hover{
  transform: scale(1.05);
  opacity: 0.7;
}

.new-items li:nth-child(-n + 2){
    width: calc((100% - 32px) / 2);
}
.new-items li:nth-child(n + 3){
    width: calc((100% - 48px) / 4);
}



/* about us */

.aboutus{
  padding-top: 128px;
}

.aboutus ul{
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 32px;
}

.aboutus ul li{
  width: calc((100% - 32px) / 2);
}

.aboutus ul li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutus ul div{
  box-sizing: border-box;
  background: #f2f7f1;
  height: 100%;
  padding: 16px;
}

.aboutus ul div h3{
  font-family: var(--Mincho-font);
  text-align: center;
}

.aboutus ul div h3,
.aboutus ul div p{
  color: #555;
  padding-bottom: 4px;
}

.aboutus section:nth-of-type(1) p{
  font-size: 12px;
  text-align: center;
}

.aboutus section:nth-of-type(1) p:last-child{
  margin-bottom: 8px;
}

.aboutus section:nth-of-type(2) p{
  font-size: 14px;
  line-height: 1.5;
  padding-top: 8px;
}



/* contact */

.contact{
  margin-top: 128px;
}

.contact .container{
  display: flex;
  justify-content: center;
  height: 240px;
  color: #333;
}

.contact ul{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.contact ul li{
  width: calc((100%) / 3);
  text-align: center;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact ul li:last-child{
  border-right: 1px solid #ccc;
}

/* アイコン部分 */
.contact ul li a:first-child{
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  font-size: 32px;
  color: darkolivegreen;
  background: #f2f7f1;
  margin-bottom: 16px;
}

.contact .btn{
  width: 80%;
  margin-top: 16px;
}

.contact .PhoneNumber{
  color: darkolivegreen;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 8px 0;
}

.contact .BusinessHour{
  font-size: 14px;
}



/* sns */

.contact .sns{
  padding-top: 16px;
}

.contact .sns h3{
  font-family: var(--Mincho-font);
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.contact .sns div{
  display: flex;
  justify-content: center;
  gap: 32px;
  font-size: 24px;
  padding: 8px 0;
}



/* information */

.news{
    padding: 128px 0;
}

.news li{
    border-bottom: 1px solid #ccc;
    padding: 16px 0;
}

.news ul p{
    color: #333;
    line-height: 1.5;
}

.news ul a{
    transition: opacity .3s;
}

.news ul a:hover{
    opacity: .7;
  }

  .news .btn{
    width: 50%;
    margin: 32px auto 0;
  }




  /* footer */

footer{
    background: #f4f5f4;
    padding-top: 32px;
    position: relative;
  }

  /* footer up */
  
  footer .up{
    display: flex;
    transform: translateY(-100%); /* 自身の大きさ分上へ移動 */ 
    position: absolute;
    top: 0;
    right: 16px;
  }

  footer .up a{
    display: flex;
    gap: 8px;
    align-items: center;
    background: #f4f5f4;
    padding: 8px 12px;
    border-radius: 2px;
    font-size: 8px;
    color: #888;
    transition: background .5s, color .5s;
  }
  
  footer .up a:hover{
    background: #555;
    color: white;
  }
  


  /* footer adress */

  footer .adress{
    padding-bottom: 8px;
  }

  footer .adress h3{
    font-family: var(--Mincho-font);
  }
  
  footer .adress h3,
  footer .adress p{
    color: #555;
    padding-bottom: 4px;
    text-align: center;
  }
  
  footer .adress h3{
    font-size: 16px;
    font-weight: bold;
  }
  
  footer .adress p{
    font-size: 14px;
  }
  
 

  /* footer guides */

  footer .guides div{
    margin-bottom: 16px;
  }

  footer .guides h3{
    text-align: center;
    font-size: 16px;
    padding: 16px 0;
    color: #333;
    letter-spacing: 1px;
  }
  
  footer .guides ul{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }
  
  footer .guides li{
    width: calc((100% - 64px) / 3);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  

  footer .guides i{
    font-size: 24px;
  }

  footer .guides li p{
    font-size: 14px;
    padding-top: 8px;
  }
  
  footer .guides a{
    display: block;
    font-size: 14px;
    color: #555;
    letter-spacing: 1px;
    padding: 16px 0;
    background: white;
    border-radius: 16px;
    transition: opacity .3s, background .3s;
  }

  footer .guides a:hover{
    opacity: .9;
    /* background: rgb(216, 237, 216); */
    background: #eee;
  }

  .guides img{
    display: block;
    margin-left:auto;
    width: 300px;
  }
  


  /* copyright */
  
  footer .copyright{
    font-size: 14px;
    background:darkolivegreen;
    color: white;
    padding: 16px 0;
  }

  footer .copyright div{
    display: flex;
    align-items: center;
  }
  
  footer .copyright ul{
    display: flex;
    justify-content: center;
  }

  footer .copyright li{
    padding: 0 16px;
  }
  
  footer .copyright ul li:first-child{
    border-right: 1px solid white;
  }
  
  footer .copyright a{
    transition: opacity .3s;
  }

  footer .copyright a:hover{
    opacity: .7;
  }
  
  footer .copyright small{
  text-align: center;
  padding: 0 8px;
  margin-left: auto;
  }





  /* animation */

.animate{
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.animate.appear{
  opacity: 1;
  transform: none;
}

.animate.delay{
  transition-delay: .2s;
}

.animate.delay-more{
  transition-delay: .4s;
}



  
